@mixin flag {
    border-width: 0.60em;
    border-style: solid;
    position: absolute;
    z-index: 1;
    border-color: inherit;
    width: 0px;
    height: 0px;
    top: 0.3em;
    @apply brightness-75 block;
}

.flag {
    @include flag();
    left:-0.8em;
    border-left-color: transparent !important;
}

.flag-rev {
    @include flag();
    right:-0.8em;
    border-right-color: transparent !important;
}