<div class="flex p-2 gap-6 items-center bg-zinc-800">
    <img class="rounded-full w-20 h-20" src="assets/logo.png" alt="Catan" />
    <h1 class="text-4xl text-white">Tiny Settlement Conquests</h1>
    <div class="ml-auto flex items-center justify-center gap-2">
        <img class="rounded-full w-14 h-14" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO2F0VxhmZzAFM54PA95eDdtkEtHlZDga9ew&usqp=CAU" alt="Catan" />
        <div class="text-2xl text-white">Clemens S.</div>
    </div>
</div>