<app-block class="block ">
    <div class="flex flex-col overflow-y-auto overflow-x-hidden h-[300px]">
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>

    </div>
    <div class="p-2 flex gap-2 items-center">
        <input class="w-full p-1 rounded" placeholder="Send a message" />
        <fa-icon class="cursor-pointer text-blue-500" [icon]="icons.paperPlane" />
    </div>
</app-block>