:host {
  @apply top-0 absolute flex flex-col gap-10 items-center justify-center ;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
}

button {
  @apply py-2 px-6 bg-zinc-800 rounded;
  color: rgb(50, 50, 50);
  background-image: linear-gradient(to bottom, #fcfaf5, #e2d7c4);
}