<div class="flex">
    <img src="assets/credits/sandro_credits.png" class="w-16 h-16" />
    <div class="flex gap-1 flex-col">
        <span class="text-white shadow-text">Developer</span>
        <div class="flex gap-2">
            <a href="https://www.linkedin.com/in/sandro-speck-3568b6294">
                <img src="assets/linkedin.png" class="h-8" />
            </a>
            <a href="https://github.com/Sandro9">
                <img src="assets/github.png" class="h-8" />
            </a>
        </div>
    </div>
</div>
<div class="flex">
    <img src="assets/credits/luisa_credits.png" class="w-16 h-16" />
    <div class="flex gap-1 flex-col">
        <span class="text-white shadow-text">Designer</span>
        <div class="flex gap-2">
            <img src="assets/linkedin.png" class="h-8" />
        </div>
    </div>
</div>