<img [src]="map().previewUrl" class="w-20 h-20"/>
<div>
    <span class="block text-2xl">{{map().name}}</span>
    <div class="flex flex-row gap-4">
        <span class="flex gap-2 items-center">
            <fa-icon class="flex items-center justify-center w-8 h-8 rounded bg-secondary-yellow" [icon]="icons.size" />
            <span>{{map().playgroundInformation.dimensions.playgroundHeight}}x{{map().playgroundInformation.dimensions.playgroundWidth}}</span>
        </span>
        <span class="flex gap-2 items-center">
            <fa-icon class="flex items-center justify-center w-8 h-8 rounded bg-secondary-yellow" [icon]="icons.user" />
            <span>{{map().creator.name}}</span>
        </span>
    </div>
</div>