@let roundPlayer = player();
<app-player-winning-points [activeSegments]="roundPlayer.winningPoints" [totalSegments]="5" [color]="roundPlayer.color">
    <img class="relative w-12 h-12" [src]="roundPlayer.profileUrl" />
</app-player-winning-points>
<div class="flex flex-col gap-2">
    <div class="text-xl text-slate-700 text-nowrap text-ellipsis overflow-hidden ...">{{roundPlayer.name}}</div>
    <div class="flex gap-2">
        <app-action-card class="!w-10 !h-10">
            {{roundPlayer.resourceCardCount}}
        </app-action-card>
        
        <app-action-card mode="purple" class="!w-10 !h-10">
            {{roundPlayer.researchCardCount}}
        </app-action-card>
    </div>
</div>
    

