$primary-yellow: #FFE5A9;
$secondary-yellow: #ecc568;
$tertiary-yellow: #a77e20;

$primary-red: #FF8D61;
$secondary-red: #B13628;
$tertiary-red: #691C12;

$primary-brown: #FFE9D0;
$secondary-brown: #AE865B;
$tertiary-brown: #B17531;