
<div class="flex flex-col items-center mt-auto mb-[150px] z-20">
    <img src="assets/logo.png" class="w-20" />
    <h2>Player</h2>
    <div>Points: 100</div>
</div>

<div class="flex flex-col items-center mt-auto mb-[200px] z-20">
    <img src="assets/logo.png" class="w-20" />
    <h2>Player</h2>
    <div>Points: 100</div>
</div>

<div class="flex flex-col items-center mt-auto mb-[100px] z-20">
    <img src="assets/logo.png" class="w-20" />
    <h2>Player</h2>
    <div>Points: 100</div>
</div>

