@if(game !== undefined) {
    <app-canvas [game]="game" />
}
<div class="absolute flex flex-col right-4 flex gap-2 w-[400px]">
    <app-action-history />
    <app-chat />
    <app-bank />
    <app-round-player-cards />

</div>
<div class="absolute bottom-4 flex left-4 flex gap-4">
    <!-- <app-resource-inventory /> -->
    <app-buildings-selection />
    <div>
        @if (isMyTurn()) {
            <app-round-countdown class="absolute -top-10" />
        }
        <app-next-move-button class="h-full" />
    </div>
    <app-trade-menu/>
</div>
