@let map = selectedMap();
@if(gameStarted() === false) {
    <div class="host">
        <img src="assets/lobby/wheat.png" class="h-full absolute right-[40px] rotate-90 -top-[295px]" />
        <div class="flex gap-4 items-center">
            <app-back-arrow routerLink="/menu" color="yellow" />
            <app-title class=" !text-4xl">
                Start a new game
            </app-title>
        </div>
        <div class="flex flex-row gap-10">
            <div class="flex flex-row gap-2 flex-1" >
                <app-lobby-player-cards />
            </div>
            <div class="w-96 flex flex-col gap-4 relative z-30">
                <app-title class="bg-secondary-yellow rounded">
                    Map: 
                    @if(map) {
                        {{map.name}} ({{map.playgroundInformation.dimensions.playgroundHeight + "x" + map.playgroundInformation.dimensions.playgroundWidth}})
                    } @else {
                        None Selected
                    }
                </app-title>
                <div class="w-96 h-96 rounded bg-secondary-yellow">
                    @if(map) {
                        <app-map-preview 
                            #mapPreview 
                            class="h-full w-full"
                            [mapPlaygroundInformation]="map.playgroundInformation"
                        />
                    }
                </div>
                <div class="flex gap-2">
                    <app-button 
                        [disabled]="true"
                        color="yellow"
                        class="!flex items-center justify-center gap-4 w-full"
                    >
                        <fa-icon [icon]="icons.gear" class="text-2xl " />
                        Settings
                    </app-button>
                    <app-button 
                        color="yellow"
                        class="!flex items-center justify-center gap-4 w-full"
                        [routerLink]="['/map-selection']"
                    >
                        <fa-icon [icon]="icons.map" class="text-2xl " />
                        Maps
                    </app-button>
                </div>
            </div>
        </div>
        <div class="flex h-full">
            <div class="mt-auto ml-auto " [matTooltip]="!canStart() ? 'Please select a map first' : 'Start'">
                <app-button
                    color="yellow"
                    [disabled]="!canStart()"
                    (clickEvent)="startGame()"
                    
                    class="w-28 !flex items-center justify-center gap-2"
                >
                    <fa-icon [icon]="icons.play" class="text-2xl " />
                    Start
                </app-button>
            </div>
        </div>
    </div>
} @else {
    <app-game-loader />
}