@for (player of players; track $index) {
    <div class="relative bg-secondary-yellow h-fit w-full flex items-row items-center rounded-lg px-4 py-2">
        <img 
            class="rounded-full w-14 h-14" 
            [src]="player.profileUrl"
        />
        @if(player.id === undefined) {
            <span class="bg-primary-yellow absolute left-3 bottom-1  text-xs p-1 rounded">Bot</span>
        }
        <div class="flex text-2xl gap-2">
            {{player.name}}
            @if(player.id !== undefined && meId === player.id) {
                <fa-icon class="border-solid border-black text-yellow-300" [icon]="icons.crown" />
            }
        </div>
        
    </div>
}