<app-block class="grow-1 flex gap-2 items-center">
    <img class="w-12 h-12 mx-3" src="/assets/buildings/bank.png" />
    @for (resourceType of resourceTypes; track $index) {
        <app-resource-card [resourceType]='resourceType' (click)="addResource(resourceType)" />
    }
</app-block>
<app-block class="grow-1 flex flex-row ">
    <div class="flex flex-col justify-between grow">
        <div class="flex gap-4 items-center h-[88px] ">
            <fa-icon [icon]="icons.down" class="text-green-500 text-4xl" />
            <div class="flex flex-row">
                @for (item of requestedResources(); track $index) {
                    <app-action-card-stack [mode]="item.mode" [count]="item.amount" (click)="removeResource(item.card.typ)">
                        <img [src]="item.card.imageUrl" class="absolute w-10 h-8" />
                    </app-action-card-stack>
                }
            </div>
        </div>
        <div class="flex gap-4 items-center h-[88px]">
            <fa-icon [icon]="icons.up" class="text-red-500 text-4xl" />
            <div class="flex flex-row">
                @for (item of offeredResources(); track $index) {
                    <app-action-card-stack [mode]="item.mode" [count]="item.amount" (click)="removeOfferedResource(item.card.typ)">
                        <img [src]="item.card.imageUrl" class="absolute w-10 h-8" />
                    </app-action-card-stack>
                }
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <fa-icon class="mt-auto text-3xl cursor-pointer" [icon]="icons.user" (click)="startTrade()" />
        <fa-icon class="text-3xl cursor-pointer" [icon]="icons.close" />
    </div>
</app-block>
<app-block class="flex items-center p-4">
    <img class="rounded-full mx-4 w-12 h-12 border-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO2F0VxhmZzAFM54PA95eDdtkEtHlZDga9ew&usqp=CAU" />
    @for (item of resources(); track $index) {
        <app-action-card-stack [mode]="item.mode" [count]="item.amount" (click)="addOfferedResource(item.card.typ)">
            <img [src]="item.card.imageUrl" class="absolute w-10 h-8" />
        </app-action-card-stack>
    }
</app-block>