<app-block class="flex flex-col overflow-y-auto overflow-x-hidden h-[200px]">
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>
    <div>Hallo??</div>

</app-block>
