/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

.gradient-background-blue {
    @apply border-4 border-solid border-cyan-100 flex items-center justify-center rounded w-24 text-white;
    background: rgb(156,246,255);
    background: linear-gradient(180deg, rgba(156,246,255,1) 23%, rgba(67,142,230,1) 95%);
}
