/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$primary-yellow: #FFE5A9;
$secondary-yellow: #ecc568;
$tertiary-yellow: #a77e20;

.bg-secondary-yellow {
    background-color: $secondary-yellow;
}

.text-primary-yellow {
  color: $primary-yellow;
}

.text-tertiary-yellow {
  color: $tertiary-yellow;
}

.bg-primary-yellow {
  background-color: $primary-yellow;
}

.bg-tertiary-yellow {
  background-color: $tertiary-yellow;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
  
}