<img #grassland id="grassland" src="assets/menu/grassland.png" class="absolute h-[46%] w-[116%] !max-w-none bottom-0 z-50 object-cover" />
<img #forest src="assets/menu/forest.png" class="absolute bottom-[16%] h-[500px] w-[114%] !max-w-none z-30 object-cover" />
<img #mountains src="assets/menu/mountains.png" class="absolute bottom-[36%] w-[114%] !max-w-none h-[500px] z-10 object-cover" />
<img src="assets/menu/sky.png" class="absolute h-[600px] top-0 w-full" />
<img src="assets/menu/sky/sun.png" class="absolute h-32 w-32 top-[100px] left-[200px]" />
