<img class="w-12 h-12 mx-3" src="/assets/buildings/bank.png" />
<app-action-card-stack mode="darkGreen" [count]="bankInventory()?.wood ?? 0">
    <img src="/assets/resources/wood.png" class="absolute w-8 h-8" />
</app-action-card-stack>
<app-action-card-stack mode="lightGreen" [count]="bankInventory()?.wool ?? 0">
    <img src="/assets/resources/sheep.png" class="absolute w-8 h-8" />
</app-action-card-stack>
<app-action-card-stack mode="yellow" [count]="bankInventory()?.straw ?? 0">
    <img src="/assets/resources/wheat.png" class="absolute w-10 h-10" />
</app-action-card-stack>
<app-action-card-stack mode="gray" [count]="bankInventory()?.stone ?? 0">
    <img src="/assets/resources/stone.png" class="absolute w-10 h-10" />
</app-action-card-stack>
<app-action-card-stack mode="red" [count]="bankInventory()?.bricks ?? 0">
    <img src="/assets/resources/brick.png" class="absolute w-10 h-8" />
</app-action-card-stack>