<img class="w-12 h-12 mx-3" src="/assets/buildings/bank.png" />
<app-action-card-stack mode="darkGreen" [count]="25">
    <img src="/assets/images/wood.png" class="absolute w-8 h-8" />
</app-action-card-stack>
<app-action-card-stack mode="lightGreen" [count]="25">
    <img src="/assets/images/sheep.png" class="absolute w-8 h-8" />
</app-action-card-stack>
<app-action-card-stack mode="yellow" [count]="25">
    <img src="/assets/images/wheat.png" class="absolute w-10 h-10" />
</app-action-card-stack>
<app-action-card-stack mode="gray" [count]="20">
    <img src="/assets/images/stone.png" class="absolute w-10 h-10" />
</app-action-card-stack>
<app-action-card-stack mode="red" [count]="20">
    <img src="/assets/images/brick.png" class="absolute w-10 h-8" />
</app-action-card-stack>